{% extends 'stickeyverse_app/base.html' %} {% block title %}Stickeyverse -
About{% endblock %}
<div>{% block content %} {% load static %}</div>

<main class="p-4 h-screen	">
  <h1 class="text-3xl font-bold mb-4">About Us</h1>
  <p>
    Stickeyverse is a company that specializes in selling high-quality stickers
    that are waterproof and sunlight-proof. Our mission is to spread smiles and
    inspire people's lives through our stickers.
  </p>
  <!-- Additional information about the company goes here -->
</main>

{% endblock %}
